{% extends "layout.html" %}

{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align:center;">
            <br />
            <div class="container" style="height: 650px;overflow-y: auto;overflow-x: hidden">
                <img src='../static/image/avatar.jpeg' style="width:100%" />
                <h1>正在维修中……</h1><br>
                <p>不如去这看看↓</p>
                <a href="https://github.com/JannyBiubiu/MusicWebsite">https://github.com/JannyBiubiu/MusicWebsite</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}